# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class

# Datasets
*.csv

# Dash configuration
config.yml

# Logs
*.log

# Virtual environment
pyenv.txt

# IDE settings
.vscode/
*.swp
*.swo
*.swn
*.bak